* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 15px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* ================SECTION HEADER============ */
.header {
    height: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.2)), url(img/travel_site_img/banner9.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    padding-top: 1.2rem;
    overflow-x: hidden;
}

.container img {
    width: 6rem;
    /* margin: 1rem 4rem ; */
    float: left ;
}

.header h1 {
    font-size: 3.5rem;
    padding-top: 12rem;
}

.header p {
    margin: 1rem;
}

.btnLogin {
    width: 7rem;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1.5rem;
    /* margin: 2rem 4rem; */
    padding: 0.5rem 0;
    float: right;
    cursor: pointer;
    outline: none !important;
}

.btnLogin:hover {
    opacity: 0.8;
    scale: 1.2;
}

.input-group {

    width: 90% !important;
    max-width: 33rem;
    border-radius: 2rem !important;
    background: #fff;
    margin: auto;
    padding: 0.2rem;

}

.form-control {
    border: 0 !important;
    border-radius: 2rem !important;
    margin: 0.2rem !important;
    box-shadow: none !important;
}

.input-group-text {
    width: 7rem !important;
    background-image: linear-gradient(109.6deg, rgba(156, 252, 248, 1) 11.2%,
            rgba(110, 123, 251, 1) 91.1%);
    border: 0 !important;
    color: #fff !important;
    padding: 0.6rem !important;
    box-shadow: none !important;
    border-radius: 2rem !important;
    cursor: pointer !important;
    display: block !important;
}

.input-group-text:hover {
    opacity: 0.8;
}

/* ================SECTION FEATURE============ */
.features {
    padding: 6.5rem 0;
    text-align: center;
    width: 100%;
}

.feature-box {
    width: 100%;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    margin-bottom: 30px;
}

.feature-img img {
    width: 100%;
    margin: 0;
    float: none;
}

.price {
    width: 50px;
    height: 50px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    position: absolute;
    left: 20px;
    bottom: -25px;
}

.feature-img {
    position: relative;
}

.rating {
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position: absolute;
}

.features .fa-solid,
.fa-regular {
    font-size: 15px;
    color: #ff5722;
}

.feature-details {
    padding: 20px;
    text-align: justify;

}

.feature-details h4 {
    font-weight: 600;
    margin-top: 20px;
}

.feature-details i {
    margin-right: 5px;
    margin-left: 10px;
}

/* ============= Section Gallery ============= */
.gallery {
    padding: 100px 0;
    background: #efefef;
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.gallery-box {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 30px;

}

.gallery-box img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
    transition: all 300ms ease;
}

.gallery-box img:hover {
    transform: scale(1.1);
}

.gallery-box h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    display: block;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

/* ============= Banner =========== */
.banner {
    height: 80%;
    background-image: url(img/travel_site_img/banner6.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 14%;
}

.banner-highlight {
    width: 100%;
    padding: 70px 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #fff;
}

.btnBook {
    width: 7rem;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1.5rem;
    margin: 2rem 4rem;
    padding: 0.5rem 0;
    transform: all 300ms ease;
    cursor: pointer;
    margin-top: 20px;
    outline: none !important;
}

.btnBook:hover {
    scale: 1.2;
    opacity: 0.8;
}

/* ================== Users-Feedback =============== */
.users-feedback {
    padding: 100px 0;
    text-align: center;
}

.user-review {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
    position: relative;
}

.user-review p {
    padding: 50px 10px 10px 10px;
}

.users-feedback img {
    width: 60px;
    height: 60px;
    border-radius: 50%;

    margin: -30px 0 20px 40%;
}

.user-review p::before {
    content: '\201d';
    /*mã dấu " cửa lớp giả before*/
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    font-family: sans-serif;
    left: 44%;
    top: -20px;
}

/* ============== Footer =============== */
.footer {
    padding: 100px 20px;
    background: rgb(242, 243, 244);
    background: linear-gradient(124deg, rgba(242, 243, 244, 1) 0%, rgba(119, 192, 247, 1) 76%, rgba(121, 125, 127, 1) 100%);
    text-align: center;
}
.footer-logo{
    width: 90px !important;
    margin: 15px 0 !important;
    float: none !important;
}
.footer h4{
    text-align:left;
    margin-top: 15px;
    margin-bottom: 25px;
}
.para-logo{
    text-align: center !important;
    padding: 0 !important;
}
.footer p{
   font-size: 12px;
   text-align: justify;
   padding-right: 35px;
}
.footer .row .fa-brands, .fa-solid, .fa-sharp{
    font-size: 15px;
    padding-right: 5px;
}
.copy-right{
    padding-top: 30px;
}